<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!--/*@thymesVar id="title" type="title"*/-->
<head th:include="parts/_head :: head(${title})"/>

<body>
<div class="container">
    <div class="card" style="max-width: 600px;margin-left: auto;margin-right: auto; margin-top: 15%">
        <div class="card-header">
            <h5 class="text-center">Привет)</h5>
        </div>
        <form action="#" th:action="@{/login}" method="post">
            <div class="card-body">
                <div class="form-group">
                    <label class="control-label" for="username">Имя</label>
                    <input class="form-control" type="text" id="username" name="username">
                </div>
                <div class="form-group">
                    <label class="control-label" for="password">Пароль</label>
                    <input class="form-control" type="password" id="password" name="password">
                </div>
                <span class="text-info" th:if="${message}" th:text="${message}"></span>
                <span class="text-info" th:if="${param.error}" th:text="'Ошибка входа'"></span>
                <span class="text-info" th:if="${param.logout}" th:text="'Вы вышли'"></span>
            </div>
            <div class="card-footer">
                <input type="submit" class="btn-sm btn-success" value="Войти">
                <a href="/registration" type="button" class="btn-sm btn-primary text-decoration-none">Регистрация</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>
