<head xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="*{title}"></title>
    <link rel="shortcut icon" th:href="@{/img/player/play_a.png}" type="image/png">
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}">

    <script src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="js/jquery2.2.4.js" th:src="@{/js/jquery2.2.4.js}"></script>
    <script src="js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
    <script src="../../static/js/maskedinput.js" th:src="@{/js/maskedinput.js}"></script>

</head>
